body {
  min-width: 220px;
  padding: 12px;
  font-family: monospace;
  background: #000000;
}

h3 {
  text-align: center;
  margin-bottom: 14px;
  color: whitesmoke;
}

.center {
  display: flex;
  justify-content: center;
}

button {
  width: 100px;
  height: 30px;
  position: relative;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.top {
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 238);
  color: rgb(36, 38, 34);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  outline: 2px solid rgb(36, 38, 34);
  transition: 0.2s;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(229, 229, 199);
  top: 7px;
  left: 0;
  border-radius: 20px;
  outline: 2px solid rgb(36, 38, 34);
  z-index: -1;
}

.bottom::before{
    content: "";
    width: 2px;
    height: 6px;
    background: rgb(36, 38, 34);
    position: absolute;
    bottom: 0px;
    left: 15%;
}

.bottom::after{
    content: "";
    width: 2px;
    height: 6px;
    background: rgb(36, 38, 34);
    position: absolute;
    bottom: 0px;
    left: 85%;
}

button::before {
  position: absolute;
  content: "";
  width: calc(100% + 2px);
  height: 100%;
  background: rgb(140, 140, 140);
  top: 10px;
  left: -1px;
  border-radius: 20px;
  outline: 2px solid rgb(36, 38, 34);
  z-index: -2;
}

button:active .top {
  transform: translateY(7px);
}